@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
div{width:400px; height:500px;}
p{width:100px; height:100px; background:yellow;}
#box01{
    background:red;
    position: relative;
    /* right:-100px;
    top:100px;   */
    left:100px;
    bottom:-100px;
}
#box01>p{
    position:absolute;
    left:100px;
    bottom:100px;
}
#box02{
    background-color:green;
}



